<html>
	<head>
		<title>Вход</title>
    		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<div class="content">
			{% if form.errors %}
        		{% if form.errors.username == None and form.errors.password == None %}
            		<p>Пожалуйста, введите верные имя пользователя и пароль. Помните, оба поля чувствительны к регистру.</p>
        		{% endif %}
    		{% endif %}

		    <form method="post" action="{% url django.contrib.auth.views.login %}">
		        {% csrf_token %}
		        <table>
		            <tr>
		                <td>{{ form.username.label_tag }}</td>
		                <td>{{ form.username }}</td>
		                <td>{{ form.username.errors }}</td>
		            </tr>
		            <tr>
		                <td>{{ form.password.label_tag }}</td>
		                <td>{{ form.password }}</td>
		                <td>{{ form.password.errors }}</td>
		            </tr>
		{#            <tr>{{ form.errors }}</tr>#}
		        </table>
		
		        <input type="submit" value="login" />
		        <a href="/register/">Регистрация</a>
		        <input type="hidden" name="next" value="{{ next }}" />
		    </form>
		</div>
	</body>

</html>
