<html>
	<head>
		<title>Регистрация</title>
    		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<div class="content">
			<form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                <td>{{ form.errors.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
                <td>{{ form.errors.password1 }}</td>

            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
                <td>{{ form.errors.password2 }}</td>
            </tr>
        </table>

        <input type="submit" value="Зарегистрироваться" />
    </form>
		</div>
	</body>

</html>