body {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
div.content {
	width: 300px;
	height: 100px;
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;	
}