<!DOCTYPE html>
<html lang="ru">
<head>
<title id="page-title">Менеджер заметок</title>
    <link rel="stylesheet" type="text/css" href="/static/ext-3.4.1/resources/css/ext-all.css" />

{#    <script type="text/javascript" src="/static/ext-3.4.1/adapter/ext/ext-base-debug.js"></script>#}
{#    <script type="text/javascript" src="/static/ext-3.4.1/ext-all.js"></script>#}
    <script type="text/javascript" src="/static/ext-3.4.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/static/ext-3.4.1/ext-all-debug.js"></script>

  <script type="text/javascript" src="/static/js/Filter.js"></script>
  <script type="text/javascript" src="/static/js/BooleanFilter.js"></script>
  <script type="text/javascript" src="/static/js/DateFilter.js"></script>
  <script type="text/javascript" src="/static/js/ListFilter.js"></script>
  <script type="text/javascript" src="/static/js/NumericFilter.js"></script>
  <script type="text/javascript" src="/static/js/StringFilter.js"></script>
  <script type="text/javascript" src="/static/js/ListMenu.js"></script>
  <script type="text/javascript" src="/static/js/RangeMenu.js"></script>
  <script type="text/javascript" src="/static/js/GridFilters.js"></script>

{% if request.user.is_authenticated %}
    <script type="text/javascript">
    
    Ext.Ajax.on('beforerequest', function (conn, options) {
        if (!(/^http:.*/.test(options.url) || /^https:.*/.test(options.url))) {
            if (typeof (options.headers) == "undefined") {
                options.headers = {
                    'X-CSRFToken': Ext.util.Cookies.get('csrftoken')
                };
            } else {
                options.headers.extend({
                    'X-CSRFToken': Ext.util.Cookies.get('csrftoken')
                });
            }
        }
    }, this);
    
    Ext.ns('Manager');
    

    var categoryList = new Ext.data.JsonStore({
        proxy: new Ext.data.HttpProxy({
            method: 'GET'
            ,url: '/categories/'
        })
        ,root: 'root' 
        ,totalProperty: 'count'
        ,fields:[
             {
                name: 'id',
                mapping: 'id'
            }, 
            {
                name: 'category',
                mapping: 'caption' // Category.caption
            }
        ]
        ,autoLoad: true
    });
    
    
    console.log(categoryList.data)


    var MyStore = new Ext.data.JsonStore({
        proxy: new Ext.data.HttpProxy({
            method: 'GET'
            ,url: '/notes/'
        })
        ,root: 'root'
        ,totalProperty: 'count'
        ,fields:[
            {
                name: 'id',
                mapping: 'id'
            },
            {
                name: 'caption',
                mapping: 'caption'
            },{
                name: 'datetime',
                type: 'date',
                mapping: 'datetime'
            },{
                name: 'category', // FIXME:
                mapping: 'category__caption'
            },{
                name: 'category__id', // FIXME:
                mapping: 'category__id',
//                 hidden: true
            },{
                name: 'text',
                mapping: 'text'
            },{
                name: 'favorite',
                type: 'boolean',
                mapping: 'favorite'
            },{
                name: 'published',
                type: 'boolean',
                mapping: 'published'
            },{
                name: 'uuid',
                mapping: 'uuid'
            }
        ]
        ,autoLoad: {
            params:{start:0, limit:5}
        }
    });
{#    MyStore.loadData({url: 'notes/'});#}

/*     var catList2 = []
    var catList = []; */
    {% comment %}var requestList = Ext.Ajax.request({
                    url: '/categories/',
                    method: 'GET',
                    success: function (response, request) {
{#                        Ext.MessageBox.alert('success', response['root']);#}
                        catList2 = Ext.util.JSON.decode(response.responseText)['root'].caption;
                        var i=0;
                        {% endcomment %}{% comment %}for (i=0; i<catList2.length; i++) {
                            if (catList[0]) {
                                catList[0] = catList[0]+', "'+ catList2[i].caption + '"';
                            }

                            else {
                                catList[0] = '"'+catList2[i].caption+'"';
                            }

                        }{% endcomment %}{% comment %}

                      },
                    failure: function() {
                        console.log('woops');
                    }
                });
{% endcomment %}





    // grid
    {#        console.log(MyStore);#}




    var myFormPanel = new Ext.FormPanel({
        id: 'formpanel',
        frame: true,
        url: '/note/',
        method: 'POST',
        labelAlign: 'left',
        onSuccess:function(form, action) {
        	console.log('onSuccess fires');
            Note_win.hide();
        },
        showError:function(msg, title) {
            title = title || 'Error';
            Ext.Msg.show({
                 title:title
                ,msg:msg
                ,modal:true
                ,icon:Ext.Msg.ERROR
                ,buttons:Ext.Msg.OK
            });
        }, // eo function showError
        onFailure:function(form, action) {
        	console.log(this);
        	myFormPanel.showError(action.response.responseText);
        },
        
        items: [{
            xtype: 'textfield',
            width: 200,
            fieldLabel:'Заголовок',
            name: 'caption'
        },{
            xtype: 'combo',
            width: 200,
            fieldLabel: 'Категория',
            {#                        hiddenName: 'rating',#}
            mode:'local',
            hiddenName : 'category',
            store: categoryList,
//             valueField: 'id',
            displayField: 'category',
            triggerAction: 'all',
            {#                        lazyRender:true,#}
            editable: false,
            name: 'category'
            {#                        labelAlign : 'top'#}
        },{
            xtype: 'htmleditor',
            enableColors: false,
            enableAlignments: false,
            width: 370,
            height: 200,
            fieldLabel: 'Текст заметки',
            name: 'text'
        },{
            xtype: 'checkbox',
            fieldLabel: 'В избранном',
            {#                        labelAlign: 'left',#}
            style: 'cursor: pointer;',
            name: 'favorite'
        },{
            xtype: 'checkbox',
            fieldLabel: 'Опубликована',
            {#                        labelAlign: 'left',#}
            style: 'cursor: pointer;',
            name: 'published'
        },{
            xtype: 'textfield',
            width: 370,
            fieldLabel:'Ссылка на заметку',
            name: 'uuid',
            hidden: true,
            readOnly:true
        },{
            xtype: 'textfield',
            width: 200,
            name: 'id',
            hidden: true
        }
        ],
        buttons: [
            {
                text: "Сохранить"
                ,formBind:true
{#                ,scope:this#}
                ,handler: function(){
                var thisForm = myFormPanel.getForm();
                thisForm.submit({
//                 	scope:this
                    success:thisForm.onSuccess
                     ,failure:thisForm.onFailure

                     ,waitMsg:'Saving...'
                    ,params:{cmd:'save'}
                });


                setTimeout("reset()",100);

{#                MyStore.load({params:{start:0, limit:5}});#}
{#                console.log(MyGrid);#}

{#                Ext.getCmp('Managergrid').getStore().reload({params:{start:0, limit:5}});#}
                {% comment %}var Store = MyStore;
                Store.load({params:{start:0, limit:5}});
                console.log(Store);{% endcomment %}

                setTimeout("reloadGrid()", 250);




{#                console.log(gridstore);#}


            }

                    

                {% comment %}var theForm = myFormPanel.getForm();

                console.log(theForm);
                theForm.submit;{% endcomment %}
                {#                        this.FormPanel.submit()#}

{#            }#}
                {% comment %}this.parent.getForm().submit({
                    url:this.url,
                    params:{cmd:'save'}
                });{% endcomment %}
                {% comment %}Ext.Ajax.request({
                    url: '/note/',
                    method: 'POST',
                    params: {key: 'value'},
                    success: function() {
                        console.log('success');
                    },
                    failure: function() {
                        console.log('woops');
                    }
                });{% endcomment %}
                {#                Note_win.hide();#}
                {#                }#}
            },{
                text: 'Отмена'
                ,handler: function(){

                    var thisForm = myFormPanel.getForm();
                    reset();

                    Note_win.hide();
                }
            }
        ]
       {% comment %} ,submit: function(){
            console.log('save');

        }{% endcomment %}
    });

    function reset(){
        var thisForm = myFormPanel.getForm();
        thisForm.reset();
{#        thisForm.findField('uuid').hide();#}
    }

    function reloadGrid() {
        var gridview = Ext.getCmp('Managergrid').getView();

        var gridstore = gridview.grid.store;

        gridstore.reload({params:{start:0, limit:5}});
        setTimeout("updateSelections()", 360);
{#        console.log(gridstore);#}
    }
    function updateSelections(){
        var gridView = Ext.getCmp('Managergrid').getView();
        var selModel = gridView.grid.getSelectionModel();
        var records = selModel.getSelections();
        var record = records[0].json;
{#        console.log(records[0].json);#}
        var ManagerPanel = Ext.getCmp('Managerpanel1');
        ManagerPanel.update(record);

{#        var gridview = Ext.getCmp('Managergrid').getSelectionModel().clearSelections();#}
    }

    var Note_win = new Ext.Window({
        title: "Создание новой заметки",
        border: false,
        width: 500,
        height: 450,
        layout:'fit',
        closeAction: 'hide',
        closable: false,
        items: [
            myFormPanel
        ]
    });


    Manager.ShowPanel = Ext.extend(Ext.Panel, {

        tpl:new Ext.XTemplate(
                '<table style="margin:20px;font-size:13px;font-family:sans-serif">'
                        +'<tr><td><i>Заголовок:</i></td><td>{caption}</td></tr>'
                        +'<tr><td><i>Дата:</i></td><td>{datetime:date("d.m.Y H:i:s")}</td></tr>'
                        +'<tr><td><i>Текст:</i></td><td>{text}</td></tr>'
                        +'<tr><td><i>Категория:</i></td><td>{category__caption}</td></tr>'
                        +'<tpl if="uuid"><tr><td><i>Ссылка:</i></td><td><a href="/note/{uuid}" target="_blank">/note/{uuid}</a></td></tr></tpl>'
                        +'</table>'
        )
        ,updateBound:function(record) {
            var data = record && record.data ? record.data : {};
            this.tpl.overwrite(this.body, data);
        }
        ,initComponent:function() {

            var config = {
                afterEdit:this.updateBound
                ,afterReject:this.updateBound
                ,onBind:function(record) {
                    this.boundRecord = record;
                    this.updateBound(record);
                }
                ,onUnbind:function(record) {
                    this.boundRecord = null;
                    this.updateBound();
                }
            }; // eo config object

            // apply config
            Ext.apply(this, Ext.apply(this.initialConfig, config));

            // call parent
            Manager.ShowPanel.superclass.initComponent.apply(this, arguments);

        } // eo function initComponent
    }); // eo extend
    Ext.reg('Managershowpanel', Manager.ShowPanel);

   {% comment %} Manager.Form = Ext.extend(Ext.form.FormPanel, {

        initComponent:function() {
            var config = {
                border:false
                ,frame:true
                ,defaultType:'textfield'
                ,defaults:{anchor:'-20'}
                ,items:[{
                    name:'firstName'
                    ,fieldLabel:'First Name'
                },{
                    name:'lastName'
                    ,fieldLabel:'Last Name'
                }]
                ,onBind:function(record) {
                    this.boundRecord = record;
                    this.updateBound(record);
                }
                ,onUnbind:function(record) {
                    this.boundRecord = null;
                    this.updateBound();
                }
                ,afterEdit:this.updateBound
                ,afterReject:this.updateBound
                ,buttonAlign:'right'
                ,buttons:[{
                    scope:this
                    ,text:'Reject'
                    ,iconCls:'icon-undo'
                    ,disabled:true
                    ,handler:function() {
                        if(this.boundRecord) {
                            this.boundRecord.reject();
                            this.enableButtons();
                        }
                    }
                },{
                    scope:this
                    ,text:'Commit'
                    ,iconCls:'icon-ok'
                    ,disabled:true
                    ,handler:function() {
                        if(this.boundRecord) {
                            this.boundRecord.commit();
                            this.enableButtons();
                        }
                    }
                }]
            }; // eo config object

            // apply config
            Ext.apply(this, Ext.apply(this.initialConfig, config));

            // call parent
            Manager.Form.superclass.initComponent.apply(this, arguments);

            this.items.each(function(f) {
                f.on({
                    scope:this
                    ,change:function(field) {
                        if(this.boundRecord) {
                            this.boundRecord.set(field.name, field.getValue());
                        }
                    }
                });
            }, this);

        } // eo funtion initComponent

        ,updateBound:function(record) {
            this.form.loadRecord(record ? record : {data:{firstName:'', lastName:''}});
            this.enableButtons();
        }
        ,enableButtons:function() {
            var enable = this.boundRecord && this.boundRecord.dirty;
            this.buttons[0].setDisabled(!enable);
            this.buttons[1].setDisabled(!enable);
        }

    }); // eo extend{% endcomment %}
{#    Ext.reg('Managerform', Manager.Form);#}

    // application main entry point
//     categoryList.reload();
    Ext.onReady(function() {
        Ext.QuickTips.init();
/*        {% comment %} Ext.QuickTips.init();
        Ext.Loader.setConfig({
            enabled: true,
            paths: {
                'Ext.ux': './ext/ux'
            }
        })

        Ext.require([
            'Ext.ux.grid.FiltersFeature'
        ])
{% endcomment %} */

// {#        MyGrid = new Manager.Grid;#}
//         console.log(categoryList);//категории

        var MyGrid;
        Manager.Grid = Ext.extend(Ext.grid.GridPanel, {
            initComponent:function() {
                MyGrid = this;
//                 console.log(MyStore.load({params:{start:0, limit:5}}));
//                 catl = MyStore.collect('category__caption');
//                 console.log(catl);
                var filters = new Ext.ux.grid.GridFilters({
                    encode:true,
//                     local:true,
                    filters: [{
                        type:'string',
                        dataIndex: 'caption'
                    },{
                        type:'date',
                        dataIndex: 'datetime'
                    },{
                        type:'list',
                        dataIndex: 'category',
                        labelField: 'category',
                        store: categoryList //categoryList // FIXME:
// 		                options: catl
                    },{
                        type:'boolean',
                        dataIndex: 'favorite'
                    }]
                });
                var config = {
                    store: MyStore
                    , plugins: [
                        filters
                    ]
                    ,columns:[{
                        header:'Заголовок'
                        ,dataIndex:'caption'
                        ,sortable:false
                    },{
                        header:'Дата'
                        ,dataIndex:'datetime'
                        ,xtype: 'datecolumn'
                        ,format: 'd.m.Y H:i:s'
                        ,sortable:true
                    },{
                        header:'Категория'
                        ,dataIndex:'category'
                        ,sortable:true
                        ,filterable: true
                    },{
                        {#                    header:'Избранная'#}
                        dataIndex:'favorite'
                        ,sortable:true
                        ,width:30
                        ,align:'center'
                        ,editor:new Ext.form.TextField()
                        ,renderer: function(value, metaData, record, row, col, store, gridView){
                            var favorite = record.get('favorite');
                            {#                        console.log("record_fav "+favorite);#}
                            if(favorite)
                            { //change the resource below :
                                return '<font size="3" color="#F7CC31">★</font>';
                            }else{
                                return '<font size="3" color="#F7CC31">☆</font>';
                            }
                        }
                    }]
                    ,tbar:[{
                        text:'Добавить'
                        {#                ,iconCls:'icon-plus'#}
                        {#                ,scope:this#}
                        ,handler:function() {
                            console.log("ADD");

                            Note_win.show();
                            reset();
                            {% comment %}var s = this.store;
                            var r = new (s.recordType)({firstName:'', lastName:''});
                            s.add(r);
                            this.startEditing(s.indexOf(r), 0);{% endcomment %}
                        }
                    },{
                        text:'Редактировать',
                        id: 'editBtn',
                        disabled: true
                        {#                ,scope:this#}
                        {#                ,iconCls:'icon-undo'#}
                        ,handler:function() {
                            console.log("EDIT");
                            var gridView = Ext.getCmp('Managergrid').getView();
                            var selModel = gridView.grid.getSelectionModel();
                            var record = selModel.getSelections();
{#                            var url = 'http://note/'+ record[0].data['uuid'];#}

                            var thisForm = myFormPanel.getForm();
                            console.log(record[0].data);

                            thisForm.setValues(record[0].data);
{#                            if (record[0].data['uuid']==""){#}
{#                                thisForm.findField('uuid').hide();#}
{#                            } else {#}
{#                                console.log('else');#}
{#                                thisForm.findField('uuid').value = url;#}
{#                                thisForm.findField('uuid').show();#}
{#                            }#}
                            {#                    console.log(Ext.StoreMgr.lookup("categoryList"));#}
                            {#                    var record_store = categoryList.data.findExact('caption','Погода');#}
                            {#                    var record_store = MyStore.data.get('38');#}
                            {#                    console.log(record_store.get(1));#}
                            {#                    console.log(categoryList.findRecord('category',record[0].data['category']));#}
                            {% comment %}thisForm.setValues({
                                category: '1'
                            });{% endcomment %}
{#                            setTimeout(Note_win.show(),100);#}
                            Note_win.title = 'Редактирование заметки';
                            Note_win.show();


                            {#                    this.getSelectionModel().clearSelections();#}
                        }
                    },{
                        text:'Удалить',
                        id: 'deleteBtn',
                        disabled: true
                        {#                ,scope:this#}
                        {#                ,iconCls:'icon-undo'#}
                        ,handler:function() {
                            console.log("DELETE");
                            var confirmMessage = Ext.MessageBox;
                            confirmMessage.buttonText={
                                cancel: 'Отмена',
                                no: 'Нет',
                                ok: 'Ok',
                                yes: 'Да'
                            };
                            confirmMessage.confirm('Подтверждение', 'Вы действительно хотите удалить эту заметку?', function(btn){

                                if (btn=='yes') {
                                    console.log('Delete record');

                                    var gridView = Ext.getCmp('Managergrid').getView();
                                    var selModel = gridView.grid.getSelectionModel();

                                    var record = selModel.getSelections();
                                    console.log(record[0].data['id']);


                                    Ext.Ajax.request({
                                        url: '/note/',
                                        method: 'POST',
                                        params: {cmd: 'delete',json:Ext.util.JSON.encode(record[0].data['id'])},
                                        success: function() {
                                            console.log('success');
                                        },
                                        failure: function() {
                                            console.log('woops');
                                        }

                                    });
                                    setTimeout("reloadGrid()", 150);
                                {% comment %}var form = Ext.getCmp('formpanel').getForm();
                                form.submit({

                                    params:{cmd:'delete'}
                                });{% endcomment %}

                                } else {
                                    console.log('Cancel');
                                }
                            });


                            {#                    this.getSelectionModel().clearSelections();#}
                        }
                    }]
                    ,buttons: [{
                        {#                    items: [{#}
                        {#                        xtype: 'button',#}
                        text: "Выйти",
                        handler: function(){
                            document.location.href = "/logout/";
                        }
                        {#                    }]#}
                    }]
                    ,bbar: new Ext.PagingToolbar({
                        store: MyStore,       // grid and PagingToolbar using same store
                        displayInfo: true,
                        pageSize: 5,
                        beforePageText: 'Страница',
                        afterPageText: 'из {0}',
                        displayMsg: 'Заметки {0} - {1} из {2}',
                        emptyMsg: "Нет заметок для отображения"
                        {% comment %}moveNext : function(){
                            console.log('NEXT');
                            var me = this,
                                    total = me.getPageData().pageCount,
                                    next = me.store.currentPage + 1;

                            if (next <= total) {
                                if (me.fireEvent('beforechange', me, next) !== false) {
                                    me.store.nextPage();
                                }
                            }
                        }{% endcomment %}


                    })
                    {% comment %},tbar:[{
                        text:'Add Record'
                        ,iconCls:'icon-plus'
                        ,scope:this
                        ,handler:function() {
                            var s = this.store;
                            var r = new (s.recordType)({firstName:'', lastName:''});
                            s.add(r);
                            this.startEditing(s.indexOf(r), 0);
                        }
                    },{
                        text:'Unselect'
                        ,scope:this
                        ,iconCls:'icon-undo'
                        ,handler:function() {
                            this.getSelectionModel().clearSelections();
                        }
                    }]{% endcomment %}
                    {% comment %},viewConfig:{forceFit:true}
                    ,plugins: new Ext.grid.GridFilters({

                    })
    {% endcomment %}
                }; // eo config object
                // apply config
                Ext.apply(this, Ext.apply(this.initialConfig, config));

                // call parent
                Manager.Grid.superclass.initComponent.apply(this, arguments);
            } // eo function initComponent
            {% comment %},onRender: function(){
    {#            Manager.Grid.superclass.onRender.apply(this,arguments);#}
            }{% endcomment %}
        }); // eo extend
        {#    var MyGrid = Manager.Grid;#}
        {#    console.log(MyGrid);#}
        Ext.reg('Managergrid', Manager.Grid );



        var win = new Ext.Viewport({
{#            title: Ext.fly('page-title').dom.innerHTML#}
            id:'win'
            {% comment %},width:640
            ,height:480{% endcomment %}
            ,border:false
{#            ,closable:false#}
            ,layout:'border'
            ,items:[{
                xtype:'Managergrid'
                ,id:'Managergrid'
                ,region:'west'
                ,title:'Заметки'
                ,width:'60%'
                ,split:true

{#                ,plugins:[myFilters]#}
                ,listeners:{
                    render:function() {
                        this.getSelectionModel().on({
                            // selectionchange is fired too often for us, so buffer it for 10ms
                            selectionchange:{buffer:10, fn:function(sm, selection) {



                                // get record from either Cell of Row SelectionModel
                                var record = selection && selection.record ? selection.record : null;
{#                                console.log(record);#}
                                var undef = false;
                                if(!record && sm && sm.getSelected) {
                                    record = sm.getSelected();
                                    if(record!=undefined){
                                        Ext.getCmp('deleteBtn').enable();
                                        Ext.getCmp('editBtn').enable();
                                    }
                                    else {
                                        Ext.getCmp('deleteBtn').disable();
                                        Ext.getCmp('editBtn').disable();
                                        undef = true;
                                    }

                                }

                                // don't bind same record twice
{#                                if(record && (this.boundRecord !== record)) {#}
//                              console.log('bind', record);
                                    var ManagerPanel = Ext.getCmp('Managerpanel1');

                                    {% comment %}console.log(record.json);
                                    console.log(record);{% endcomment %}
                                if(!undef) {
                                    ManagerPanel.update(record.json);
                                }
                                else {
                                    ManagerPanel.body.dom.innerHTML = '';
                                }
                                {% comment %}.loadRecord(record);{% endcomment %}
{#                                    Ext.BindMgr.unbind(this.boundRecord);#}
{#                                    Ext.getCmp('Managerpanel1').bind(record);{% comment %}, ['Managerpanel1'{% endcomment %}{% comment %}, 'Managerpanel2'{% endcomment %}{% comment %}{% endcomment %}{% comment %}, 'Managerform'{% endcomment %}{% comment %}]);{% endcomment %}#}
{#                                    this.boundRecord = record;#}
{#                                }#}

                                // unbind
{#                                else if(!record) {#}
//                              console.log('unbind');
{#                                    Ext.BindMgr.unbind(this.boundRecord);#}
{#                                    this.boundRecord = null;#}
{#                                }#}
                            }}
                            ,rowdeselect: function(){
                                console.log('unselect');
                                Ext.getCmp('deleteBtn').disable();
                            }

                        })
                    }
                }


            },{
                layout:'border'
                ,region:'center'
                ,border:false
                ,items:[{
                    xtype:'Managershowpanel'
                    ,id:'Managerpanel1'
                    ,region:'center'
                    ,title:'Просмотр заметки'
{#                    ,height:140#}
                    ,split:true
                }{% comment %},{
                    xtype:'Managershowpanel'
                    ,id:'Managerpanel2'
                    ,region:'center'
                    ,title:'Show Panel 2'
                }{% endcomment %}{% comment %},{
                    xtype:'Managerform'
                    ,id:'Managerform'
                    ,border:false
                    ,region:'south'
                    ,title:'Form'
                    ,split:true
                    ,height:170
                }{% endcomment %}]
            }]

        });

        win.show();

    }); // eo function onReady
    </script>
{% endif %}
</head>
<body>
<div class="content">
{% block content %}
{% endblock %}
</div>

<div id="myManager"></div>
</body>
</html>