<!DOCTYPE html>
<html>
<head>
    <title>{{ note.caption }}</title>
</head>
<body>
    <table style="margin:20px;font-size:13px;font-family:sans-serif">
        <tr><td><i>Заголовок:</i></td><td>{{ note.caption }}</td></tr>
        <tr><td><i>Дата:</i></td><td>{{note.datetime|date:"d.m.Y H:i:s"}}</td></tr>
        <tr><td><i>Текст:</i></td><td>{% autoescape off %}{{ note.text }} {% endautoescape %}</td></tr>
        <tr><td><i>Категория:</i></td><td>{{ note.category.caption }}</td></tr>
    </table>
</body>
</html>